# Ignore all files not starting with .
/[^.]*
!/bin
/bin/flatpak

/.ICEauthority
/.Ticket to Ride/
/.Xauthority
/.android/
/.audacity-data/
/.bash_history
/.bundle/
/.cabal/
/.cache/
/.cardpeek*
/.cargo/
/.cert/nm-openvpn
/.config/*
!/.config/dunst
!/.config/git
!/.config/gtk-3.0
/.config/gtk-3.0/bookmarks
!/.config/systemd
!/.config/Trolltech.conf
!/.config/compton.conf
!/.config/user-dirs.dirs
!/.config/
/.dbus/session-bus/
/.docker/
/.dropbox/
/.dropbox-dist/
/.dvdcss/
/.fonts/**/.uuid
/.ghc/*-linux-*/
/.gimp*/
/.gnome/
/.gnupg/
/.ipython/
/.itch/
/.kr/
/.lesshst
/.local/*
!/.local/share/
/.local/share/*
!/.local/share/gnome-shell/
/.local/share/gnome-shell/*
!/.local/share/gnome-shell/extensions
/.macromedia/
/.mozilla/
/.openjfx/
/.parsec/
/.pipewire-media-session/
/.pki/
/.psql_history
/.python_history
/.renpy/
/.rmapi
/.rustup/
/.sqlite_history
/.ssh/*
!/.ssh/config*
/.ssh/config.d/*-local
/.steam*
/.thumbnails/
/.tvnamer.json
/.var
/.viminfo
/.vimrc.local
/.vscode
/.wget-hsts
/.wine
/.xmonad/xmonad-*-linux
/.xmonad/xmonad.errors
/.xmonad/xmonad.hi
/.xmonad/xmonad.o
/.xsession-errors
/.yarnrc
/.zcompdump
/.zprofile.local
/.zshhist
/.zshrc-local
