# Ignore all files not starting with .
/[^.]*

/.ICEauthority
/.Xauthority
/.bash_history
/.cabal/
/.cache/
/.cert/nm-openvpn
/.config/QtProject.conf
/.config/SpiderOakONE/
/.config/autostart/
/.config/dconf/
/.config/evince/
/.config/evolution/
/.config/google-chrome*/
/.config/gtk-2.0/gtkfilechooser.ini
/.config/htop/
/.config/libfm/
/.config/menus/
/.config/pavucontrol.ini
/.config/pcmanfm/
/.config/pulse/
/.config/viewnior/
/.dbus/session-bus/
/.dropbox/
/.dropbox-dist/
/.fonts/**/.uuid
/.ghc/*-linux-*/
/.gimp*/
/.gnome/
/.gnupg/
/.kr/
/.lesshst
/.local/
/.mozilla/
/.pki/
/.python_history
/.ssh/*
!/.ssh/config*
/.thumbnails/
/.viminfo
/.vimrc.local
/.xmonad/xmonad-*-linux
/.xmonad/xmonad.errors
/.xmonad/xmonad.hi
/.xmonad/xmonad.o
/.xsession-errors
/.zcompdump
/.zshhist
/.zshrc-local
