# Ignore all files not starting with .
/[^.]*

*.pyc
__pycache__

!/bin
/bin/flatpak

/.ICEauthority
/.MakeMKV/
/.Ticket to Ride/
/.Xauthority
/.aegisub/
/.android/
/.audacity-data/
/.bash_history
/.borgmatic/
/.bundle/
/.cabal/
/.cache/
/.cardpeek*
/.cargo/
/.cert/nm-openvpn
/.config/*
!/.config/dunst
!/.config/git
!/.config/gtk-2.0
/.config/gtk-2.0/gtkfilechooser.ini
!/.config/gtk-3.0
/.config/gtk-3.0/bookmarks
/.config/gtk-3.0/custom-papers
!/.config/gtk-4.0
!/.config/systemd
/.config/systemd/user/*.d/override.conf
!/.config/Trolltech.conf
!/.config/compton.conf
!/.config/user-dirs.dirs
!/.config/pulse/*.conf
!/.config/pulse/*.pa
!/.config/pulse/
/.config/pulse/*
!/.config/
/.dbus/session-bus/
/.docker/
/.dotnet/
/.dropbox/
/.dropbox-dist/
/.dvdcss/
/.fonts/**/.uuid
/.gbench2/
/.ghc/*-linux-*/
/.gimp*/
/.gnome/
/.gnupg/
/.gradle/
/.ipython/
/.itch/
/.java/
/.kr/
/.lesshst
/.local/*
!/.local/share/
/.local/share/*
!/.local/share/gnome-shell/
/.local/share/gnome-shell/*
!/.local/share/gnome-shell/extensions
/.macromedia/
/.minecraft/
/.mono/
/.mozilla/
/.ncbi/
/.net/
/.npm/
/.nuget/
/.openjfx/
/.parallel/
/.parsec/
/.pipewire-media-session/
/.pki/
/.psql_history
/.python_history
/.python_history-*.tmp
/.renpy/
/.rmapi
/.rustup/
/.sqlite_history
/.ssh/*
!/.ssh/config*
/.ssh/config.d/*-local
/.steam*
/.thumbnails/
/.tvnamer.json
/.var/
/.vim/.netrwhist
/.viminfo
/.vimrc.local
/.vscode
/.waterfox/
/.wget-hsts
/.wine
/.xmonad/xmonad-*-linux
/.xmonad/xmonad.errors
/.xmonad/xmonad.hi
/.xmonad/xmonad.o
/.xsession-errors
/.yarnrc
/.zcompdump
/.zprofile.local
/.zshhist
/.zshrc-local
